Redirect /ensimmainen /skrolli-leol-20230505-amiga.html
Redirect /viimeinen /skrolli-leol-20241003-sdr-laite.html

Redirect /2024/alku /skrolli-leol-20240101-rogue.html
Redirect /2024/loppu /skrolli-leol-20241003-sdr-laite.html
Redirect /2024 /skrolli-leol-20240101-rogue.html

Redirect /2023/alku /skrolli-leol-20230505-amiga.html
Redirect /2023/loppu /skrolli-leol-20231229-meta-alt.html
Redirect /2023 /skrolli-leol-20230505-amiga.html

DirectoryIndex /viimeinen